torch==2.0.*
torchvision==0.15.*
torchaudio==2.0.*
torchmetrics==0.11.*
scvi-tools==0.19.0
scanpy==1.9.*
scvelo==0.2.*
anndata==0.8.0
numpy==1.23.5
matplotlib>=3.4
pandas==1.5.3
scipy>=1.4
scikit-misc==0.2.0
tslearn==0.5.*
plotly==5.10.*
scikit-learn
torchsde
seaborn
adjustText
tqdm
ipykernel
pymde
leidenalg
torchcubicspline @ git+https://github.com/patrick-kidger/torchcubicspline.git